In [1]:
import pandas as pd
import numpy as np
import os, sys
pwd = os.getcwd()

In [2]:
new_df = pd.read_csv('C://Users//murth//Desktop//new1.csv')
new_df

   id                              sentence
0   1                      John is good boy
1   2                    good is nice Habit
2   3                         boy does Good
3   4                         habit of john
4   5                         is girl nice?
5   6  doing bad things is so bad and worst
6   7            doing bad things is so bad

In [3]:
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer = TfidfVectorizer(lowercase=True,stop_words='english')
X = vectorizer.fit_transform(new_df['sentence'])
print(vectorizer.get_feature_names())
print(X.toarray())

['bad', 'boy', 'does', 'doing', 'girl', 'good', 'habit', 'john', 'nice', 'things', 'worst']
[[0.         0.60515811 0.         0.         0.         0.51726909
  0.         0.60515811 0.         0.         0.        ]
 [0.         0.         0.         0.         0.         0.51726909
  0.60515811 0.         0.60515811 0.         0.        ]
 [0.         0.56060334 0.67535583 0.         0.         0.47918515
  0.         0.         0.         0.         0.        ]
 [0.         0.         0.         0.         0.         0.
  0.70710678 0.70710678 0.         0.         0.        ]
 [0.         0.         0.         0.         0.76944876 0.
  0.         0.         0.63870855 0.         0.        ]
 [0.73267992 0.         0.         0.36633996 0.         0.
  0.         0.         0.         0.36633996 0.44132778]
 [0.81649658 0.         0.         0.40824829 0.         0.
  0.         0.         0.         0.40824829 0.        ]]

In [4]:
con_df = pd.DataFrame(X.toarray(),columns=vectorizer.get_feature_names())
con_df

,bad,boy,does,doing,girl,good,habit,john,nice,things,worst
0,0.000000,0.605158,0.000000,0.000000,0.000000,0.517269,0.000000,0.605158,0.000000,0.000000,0.000000
1,0.000000,0.000000,0.000000,0.000000,0.000000,0.517269,0.605158,0.000000,0.605158,0.000000,0.000000
2,0.000000,0.560603,0.675356,0.000000,0.000000,0.479185,0.000000,0.000000,0.000000,0.000000,0.000000
3,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.707107,0.707107,0.000000,0.000000,0.000000
4,0.000000,0.000000,0.000000,0.000000,0.769449,0.000000,0.000000,0.000000,0.638709,0.000000,0.000000
5,0.732680,0.000000,0.000000,0.366340,0.000000,0.000000,0.000000,0.000000,0.000000,0.366340,0.441328
6,0.816497,0.000000,0.000000,0.408248,0.000000,0.000000,0.000000,0.000000,0.000000,0.408248,0.000000

In [5]:
fin_df = pd.concat([new_df,con_df],axis=1)
fin_df

,id,sentence,bad,boy,does,doing,girl,good,habit,john,nice,things,worst
0,1,John is good boy,0.000000,0.605158,0.000000,0.000000,0.000000,0.517269,0.000000,0.605158,0.000000,0.000000,0.000000
1,2,good is nice Habit,0.000000,0.000000,0.000000,0.000000,0.000000,0.517269,0.605158,0.000000,0.605158,0.000000,0.000000
2,3,boy does Good,0.000000,0.560603,0.675356,0.000000,0.000000,0.479185,0.000000,0.000000,0.000000,0.000000,0.000000
3,4,habit of john,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.707107,0.707107,0.000000,0.000000,0.000000
4,5,is girl nice?,0.000000,0.000000,0.000000,0.000000,0.769449,0.000000,0.000000,0.000000,0.638709,0.000000,0.000000
5,6,doing bad things is so bad and worst,0.732680,0.000000,0.000000,0.366340,0.000000,0.000000,0.000000,0.000000,0.000000,0.366340,0.441328
6,7,doing bad things is so bad,0.816497,0.000000,0.000000,0.408248,0.000000,0.000000,0.000000,0.000000,0.000000,0.408248,0.000000

In [6]:
with open(pwd+'//hinglish_stopwords.txt','r') as sw:
    stw_list = sw.readlines()
stw_l = list(map(lambda x: x.strip(),stw_list))
print(stw_l)

['a', 'aadi', 'aaj', 'aap', 'aapne', 'aata', 'aati', 'aaya', 'aaye', 'ab', 'abbe', 'abbey', 'abe', 'abhi', 'able', 'about', 'above', 'accha', 'according', 'accordingly', 'acha', 'achcha', 'across', 'actually', 'after', 'afterwards', 'again', 'against', 'agar', 'ain', 'aint', "ain't", 'aisa', 'aise', 'aisi', 'alag', 'all', 'allow', 'allows', 'almost', 'alone', 'along', 'already', 'also', 'although', 'always', 'am', 'among', 'amongst', 'an', 'and', 'andar', 'another', 'any', 'anybody', 'anyhow', 'anyone', 'anything', 'anyway', 'anyways', 'anywhere', 'ap', 'apan', 'apart', 'apna', 'apnaa', 'apne', 'apni', 'appear', 'are', 'aren', 'arent', "aren't", 'around', 'arre', 'as', 'aside', 'ask', 'asking', 'at', 'aur', 'avum', 'aya', 'aye', 'baad', 'baar', 'bad', 'bahut', 'bana', 'banae', 'banai', 'banao', 'banaya', 'banaye', 'banayi', 'banda', 'bande', 'bandi', 'bane', 'bani', 'bas', 'bata', 'batao', 'bc', 'be', 'became', 'because', 'become', 'becomes', 'becoming', 'been', 'before', 'beforehand', 'behind', 'being', 'below', 'beside', 'besides', 'best', 'better', 'between', 'beyond', 'bhai', 'bheetar', 'bhi', 'bhitar', 'bht', 'bilkul', 'bohot', 'bol', 'bola', 'bole', 'boli', 'bolo', 'bolta', 'bolte', 'bolti', 'both', 'brief', 'bro', 'btw', 'but', 'by', 'came', 'can', 'cannot', 'cant', "can't", 'cause', 'causes', 'certain', 'certainly', 'chahiye', 'chaiye', 'chal', 'chalega', 'chhaiye', 'clearly', "c'mon", 'com', 'come', 'comes', 'could', 'couldn', 'couldnt', "couldn't", 'd', 'de', 'dede', 'dega', 'degi', 'dekh', 'dekha', 'dekhe', 'dekhi', 'dekho', 'denge', 'dhang', 'di', 'did', 'didn', 'didnt', "didn't", 'dijiye', 'diya', 'diyaa', 'diye', 'diyo', 'do', 'does', 'doesn', 'doesnt', "doesn't", 'doing', 'done', 'dono', 'dont', "don't", 'doosra', 'doosre', 'down', 'downwards', 'dude', 'dunga', 'dungi', 'during', 'dusra', 'dusre', 'dusri', 'dvaara', 'dvara', 'dwaara', 'dwara', 'each', 'edu', 'eg', 'eight', 'either', 'ek', 'else', 'elsewhere', 'enough', 'etc', 'even', 'ever', 'every', 'everybody', 'everyone', 'everything', 'everywhere', 'ex', 'exactly', 'example', 'except', 'far', 'few', 'fifth', 'fir', 'first', 'five', 'followed', 'following', 'follows', 'for', 'forth', 'four', 'from', 'further', 'furthermore', 'gaya', 'gaye', 'gayi', 'get', 'gets', 'getting', 'ghar', 'given', 'gives', 'go', 'goes', 'going', 'gone', 'good', 'got', 'gotten', 'greetings', 'haan', 'had', 'hadd', 'hadn', 'hadnt', "hadn't", 'hai', 'hain', 'hamara', 'hamare', 'hamari', 'hamne', 'han', 'happens', 'har', 'hardly', 'has', 'hasn', 'hasnt', "hasn't", 'have', 'haven', 'havent', "haven't", 'having', 'he', 'hello', 'help', 'hence', 'her', 'here', 'hereafter', 'hereby', 'herein', "here's", 'hereupon', 'hers', 'herself', "he's", 'hi', 'him', 'himself', 'his', 'hither', 'hm', 'hmm', 'ho', 'hoga', 'hoge', 'hogi', 'hona', 'honaa', 'hone', 'honge', 'hongi', 'honi', 'hopefully', 'hota', 'hotaa', 'hote', 'hoti', 'how', 'howbeit', 'however', 'hoyenge', 'hoyengi', 'hu', 'hua', 'hue', 'huh', 'hui', 'hum', 'humein', 'humne', 'hun', 'huye', 'huyi', 'i', "i'd", 'idk', 'ie', 'if', "i'll", "i'm", 'imo', 'in', 'inasmuch', 'inc', 'inhe', 'inhi', 'inho', 'inka', 'inkaa', 'inke', 'inki', 'inn', 'inner', 'inse', 'insofar', 'into', 'inward', 'is', 'ise', 'isi', 'iska', 'iskaa', 'iske', 'iski', 'isme', 'isn', 'isne', 'isnt', "isn't", 'iss', 'isse', 'issi', 'isski', 'it', "it'd", "it'll", 'itna', 'itne', 'itni', 'itno', 'its', "it's", 'itself', 'ityaadi', 'ityadi', "i've", 'ja', 'jaa', 'jab', 'jabh', 'jaha', 'jahaan', 'jahan', 'jaisa', 'jaise', 'jaisi', 'jata', 'jayega', 'jidhar', 'jin', 'jinhe', 'jinhi', 'jinho', 'jinhone', 'jinka', 'jinke', 'jinki', 'jinn', 'jis', 'jise', 'jiska', 'jiske', 'jiski', 'jisme', 'jiss', 'jisse', 'jitna', 'jitne', 'jitni', 'jo', 'just', 'jyaada', 'jyada', 'k', 'ka', 'kaafi', 'kab', 'kabhi', 'kafi', 'kaha', 'kahaa', 'kahaan', 'kahan', 'kahi', 'kahin', 'kahte', 'kaisa', 'kaise', 'kaisi', 'kal', 'kam', 'kar', 'kara', 'kare', 'karega', 'karegi', 'karen', 'karenge', 'kari', 'karke', 'karna', 'karne', 'karni', 'karo', 'karta', 'karte', 'karti', 'karu', 'karun', 'karunga', 'karungi', 'kaun', 'kaunsa', 'kayi', 'kch', 'ke', 'keep', 'keeps', 'keh', 'kehte', 'kept', 'khud', 'ki', 'kin', 'kine', 'kinhe', 'kinho', 'kinka', 'kinke', 'kinki', 'kinko', 'kinn', 'kino', 'kis', 'kise', 'kisi', 'kiska', 'kiske', 'kiski', 'kisko', 'kisliye', 'kisne', 'kitna', 'kitne', 'kitni', 'kitno', 'kiya', 'kiye', 'know', 'known', 'knows', 'ko', 'koi', 'kon', 'konsa', 'koyi', 'krna', 'krne', 'kuch', 'kuchch', 'kuchh', 'kul', 'kull', 'kya', 'kyaa', 'kyu', 'kyuki', 'kyun', 'kyunki', 'lagta', 'lagte', 'lagti', 'last', 'lately', 'later', 'le', 'least', 'lekar', 'lekin', 'less', 'lest', 'let', "let's", 'li', 'like', 'liked', 'likely', 'little', 'liya', 'liye', 'll', 'lo', 'log', 'logon', 'lol', 'look', 'looking', 'looks', 'ltd', 'lunga', 'm', 'maan', 'maana', 'maane', 'maani', 'maano', 'magar', 'mai', 'main', 'maine', 'mainly', 'mana', 'mane', 'mani', 'mano', 'many', 'mat', 'may', 'maybe', 'me', 'mean', 'meanwhile', 'mein', 'mera', 'mere', 'merely', 'meri', 'might', 'mightn', 'mightnt', "mightn't", 'mil', 'mjhe', 'more', 'moreover', 'most', 'mostly', 'much', 'mujhe', 'must', 'mustn', 'mustnt', "mustn't", 'my', 'myself', 'na', 'naa', 'naah', 'nahi', 'nahin', 'nai', 'name', 'namely', 'nd', 'ne', 'near', 'nearly', 'necessary', 'neeche', 'need', 'needn', 'neednt', "needn't", 'needs', 'neither', 'never', 'nevertheless', 'new', 'next', 'nhi', 'nine', 'no', 'nobody', 'non', 'none', 'noone', 'nope', 'nor', 'normally', 'not', 'nothing', 'novel', 'now', 'nowhere', 'o', 'obviously', 'of', 'off', 'often', 'oh', 'ok', 'okay', 'old', 'on', 'once', 'one', 'ones', 'only', 'onto', 'or', 'other', 'others', 'otherwise', 'ought', 'our', 'ours', 'ourselves', 'out', 'outside', 'over', 'overall', 'own', 'par', 'pata', 'pe', 'pehla', 'pehle', 'pehli', 'people', 'per', 'perhaps', 'phla', 'phle', 'phli', 'placed', 'please', 'plus', 'poora', 'poori', 'provides', 'pura', 'puri', 'q', 'que', 'quite', 'raha', 'rahaa', 'rahe', 'rahi', 'rakh', 'rakha', 'rakhe', 'rakhen', 'rakhi', 'rakho', 'rather', 're', 'really', 'reasonably', 'regarding', 'regardless', 'regards', 'rehte', 'rha', 'rhaa', 'rhe', 'rhi', 'ri', 'right', 's', 'sa', 'saara', 'saare', 'saath', 'sab', 'sabhi', 'sabse', 'sahi', 'said', 'sakta', 'saktaa', 'sakte', 'sakti', 'same', 'sang', 'sara', 'sath', 'saw', 'say', 'saying', 'says', 'se', 'second', 'secondly', 'see', 'seeing', 'seem', 'seemed', 'seeming', 'seems', 'seen', 'self', 'selves', 'sensible', 'sent', 'serious', 'seriously', 'seven', 'several', 'shall', 'shan', 'shant', "shan't", 'she', "she's", 'should', 'shouldn', 'shouldnt', "shouldn't", "should've", 'si', 'since', 'six', 'so', 'soch', 'some', 'somebody', 'somehow', 'someone', 'something', 'sometime', 'sometimes', 'somewhat', 'somewhere', 'soon', 'still', 'sub', 'such', 'sup', 'sure', 't', 'tab', 'tabh', 'tak', 'take', 'taken', 'tarah', 'teen', 'teeno', 'teesra', 'teesre', 'teesri', 'tell', 'tends', 'tera', 'tere', 'teri', 'th', 'tha', 'than', 'thank', 'thanks', 'thanx', 'that', "that'll", 'thats', "that's", 'the', 'theek', 'their', 'theirs', 'them', 'themselves', 'then', 'thence', 'there', 'thereafter', 'thereby', 'therefore', 'therein', 'theres', "there's", 'thereupon', 'these', 'they', "they'd", "they'll", "they're", "they've", 'thi', 'thik', 'thing', 'think', 'thinking', 'third', 'this', 'tho', 'thoda', 'thodi', 'thorough', 'thoroughly', 'those', 'though', 'thought', 'three', 'through', 'throughout', 'thru', 'thus', 'tjhe', 'to', 'together', 'toh', 'too', 'took', 'toward', 'towards', 'tried', 'tries', 'true', 'truly', 'try', 'trying', 'tu', 'tujhe', 'tum', 'tumhara', 'tumhare', 'tumhari', 'tune', 'twice', 'two', 'um', 'umm', 'un', 'under', 'unhe', 'unhi', 'unho', 'unhone', 'unka', 'unkaa', 'unke', 'unki', 'unko', 'unless', 'unlikely', 'unn', 'unse', 'until', 'unto', 'up', 'upar', 'upon', 'us', 'use', 'used', 'useful', 'uses', 'usi', 'using', 'uska', 'uske', 'usne', 'uss', 'usse', 'ussi', 'usually', 'vaala', 'vaale', 'vaali', 'vahaan', 'vahan', 'vahi', 'vahin', 'vaisa', 'vaise', 'vaisi', 'vala', 'vale', 'vali', 'various', 've', 'very', 'via', 'viz', 'vo', 'waala', 'waale', 'waali', 'wagaira', 'wagairah', 'wagerah', 'waha', 'wahaan', 'wahan', 'wahi', 'wahin', 'waisa', 'waise', 'waisi', 'wala', 'wale', 'wali', 'want', 'wants', 'was', 'wasn', 'wasnt', "wasn't", 'way', 'we', "we'd", 'well', "we'll", 'went', 'were', "we're", 'weren', 'werent', "weren't", "we've", 'what', 'whatever', "what's", 'when', 'whence', 'whenever', 'where', 'whereafter', 'whereas', 'whereby', 'wherein', "where's", 'whereupon', 'wherever', 'whether', 'which', 'while', 'who', 'whoever', 'whole', 'whom', "who's", 'whose', 'why', 'will', 'willing', 'with', 'within', 'without', 'wo', 'woh', 'wohi', 'won', 'wont', "won't", 'would', 'wouldn', 'wouldnt', "wouldn't", 'y', 'ya', 'yadi', 'yah', 'yaha', 'yahaan', 'yahan', 'yahi', 'yahin', 'ye', 'yeah', 'yeh', 'yehi', 'yes', 'yet', 'you', "you'd", "you'll", 'your', "you're", 'yours', 'yourself', 'yourselves', "you've", 'yup']

In [7]:
from sklearn.feature_extraction.text import CountVectorizer
vectorizer = CountVectorizer(lowercase=True,stop_words='english')
X = vectorizer.fit_transform(new_df['sentence'])
print(vectorizer.get_feature_names())
print(X.toarray())

['bad', 'boy', 'does', 'doing', 'girl', 'good', 'habit', 'john', 'nice', 'things', 'worst']
[[0 1 0 0 0 1 0 1 0 0 0]
 [0 0 0 0 0 1 1 0 1 0 0]
 [0 1 1 0 0 1 0 0 0 0 0]
 [0 0 0 0 0 0 1 1 0 0 0]
 [0 0 0 0 1 0 0 0 1 0 0]
 [2 0 0 1 0 0 0 0 0 1 1]
 [2 0 0 1 0 0 0 0 0 1 0]]

In [8]:
from gensim.corpora.dictionary import Dictionary
from nltk.tokenize import word_tokenize
rows = new_df['sentence']
tokenized_docs = [word_tokenize(doc.lower()) for doc in rows]
print(tokenized_docs)
new_tokenized_docs = [set(row).difference(set(stw_l)) for row in tokenized_docs]
dictionary = Dictionary(new_tokenized_docs)
print(dictionary)
print(dictionary.token2id)

# converting doc to token_id and number of tokens
corpus = [dictionary.doc2bow(doc) for doc in tokenized_docs]
print(corpus)

[['john', 'is', 'good', 'boy'], ['good', 'is', 'nice', 'habit'], ['boy', 'does', 'good'], ['habit', 'of', 'john'], ['is', 'girl', 'nice', '?'], ['doing', 'bad', 'things', 'is', 'so', 'bad', 'and', 'worst'], ['doing', 'bad', 'things', 'is', 'so', 'bad']]
Dictionary(8 unique tokens: ['boy', 'john', 'habit', 'nice', '?']...)
{'boy': 0, 'john': 1, 'habit': 2, 'nice': 3, '?': 4, 'girl': 5, 'things': 6, 'worst': 7}
[[(0, 1), (1, 1)], [(2, 1), (3, 1)], [(0, 1)], [(1, 1), (2, 1)], [(3, 1), (4, 1), (5, 1)], [(6, 1), (7, 1)], [(6, 1)]]

In [9]:
from gensim.models.tfidfmodel import TfidfModel
tfidf = TfidfModel(corpus)
tfidf[corpus[1]]

[(2, 0.7071067811865475), (3, 0.7071067811865475)]

In [10]:
import spacy
nlp = spacy.load('en_core_web_sm')
nlp.get_pipe("ner")

In [11]:
for x in new_df['sentence']:
    doc = nlp(x)
    print(doc.ents)
    for token in doc:
        print(token.text,"$$$", token.dep_,"$$$", token.head.text,"$$$", token.head.pos_,"$$$",token.pos_,"$$$",[child for child in token.children])

(John,)
John $$$ nsubj $$$ is $$$ AUX $$$ PROPN $$$ []
is $$$ ROOT $$$ is $$$ AUX $$$ AUX $$$ [John, boy]
good $$$ amod $$$ boy $$$ NOUN $$$ ADJ $$$ []
boy $$$ attr $$$ is $$$ AUX $$$ NOUN $$$ [good]
(Habit,)
good $$$ acomp $$$ is $$$ AUX $$$ ADJ $$$ []
is $$$ ROOT $$$ is $$$ AUX $$$ AUX $$$ [good, Habit]
nice $$$ amod $$$ Habit $$$ NOUN $$$ ADJ $$$ []
Habit $$$ attr $$$ is $$$ AUX $$$ NOUN $$$ [nice]
()
boy $$$ intj $$$ does $$$ VERB $$$ INTJ $$$ []
does $$$ ROOT $$$ does $$$ VERB $$$ VERB $$$ [boy, Good]
Good $$$ dobj $$$ does $$$ VERB $$$ PROPN $$$ []
()
habit $$$ ROOT $$$ habit $$$ NOUN $$$ NOUN $$$ [of]
of $$$ prep $$$ habit $$$ NOUN $$$ ADP $$$ [john]
john $$$ pobj $$$ of $$$ ADP $$$ NOUN $$$ []
()
is $$$ ROOT $$$ is $$$ AUX $$$ AUX $$$ [nice, ?]
girl $$$ npadvmod $$$ nice $$$ ADJ $$$ NOUN $$$ []
nice $$$ acomp $$$ is $$$ AUX $$$ ADJ $$$ [girl]
? $$$ punct $$$ is $$$ AUX $$$ PUNCT $$$ []
()
doing $$$ csubj $$$ is $$$ AUX $$$ VERB $$$ [things]
bad $$$ amod $$$ things $$$ NOUN $$$ ADJ $$$ []
things $$$ dobj $$$ doing $$$ VERB $$$ NOUN $$$ [bad]
is $$$ ROOT $$$ is $$$ AUX $$$ AUX $$$ [doing, bad]
so $$$ advmod $$$ bad $$$ ADJ $$$ ADV $$$ []
bad $$$ acomp $$$ is $$$ AUX $$$ ADJ $$$ [so, and, worst]
and $$$ cc $$$ bad $$$ ADJ $$$ CCONJ $$$ []
worst $$$ conj $$$ bad $$$ ADJ $$$ ADJ $$$ []
()
doing $$$ csubj $$$ is $$$ AUX $$$ VERB $$$ [things]
bad $$$ amod $$$ things $$$ NOUN $$$ ADJ $$$ []
things $$$ dobj $$$ doing $$$ VERB $$$ NOUN $$$ [bad]
is $$$ ROOT $$$ is $$$ AUX $$$ AUX $$$ [doing, bad]
so $$$ advmod $$$ bad $$$ ADJ $$$ ADV $$$ []
bad $$$ acomp $$$ is $$$ AUX $$$ ADJ $$$ [so]

In [12]:
aspects = []
for sentence in new_df['sentence']:
    doc = nlp(sentence)
    descriptive_term = ''
    target = ''
    for token in doc:
        if token.dep_ == 'nsubj' and token.pos_ == 'NOUN':
            target = token.text
        if token.pos_ == 'ADJ':
            prepend = ''
            for child in token.children:
                if child.pos_ != 'ADV':
                    continue
                prepend += child.text + ' '
            descriptive_term = prepend + token.text
    aspects.append({'aspect': target,'description': descriptive_term})
print(aspects)

[{'aspect': '', 'description': 'good'}, {'aspect': '', 'description': 'nice'}, {'aspect': '', 'description': ''}, {'aspect': '', 'description': ''}, {'aspect': '', 'description': 'nice'}, {'aspect': '', 'description': 'worst'}, {'aspect': '', 'description': 'so bad'}]

In [13]:
new_df

   id                              sentence
0   1                      John is good boy
1   2                    good is nice Habit
2   3                         boy does Good
3   4                         habit of john
4   5                         is girl nice?
5   6  doing bad things is so bad and worst
6   7            doing bad things is so bad