In [1]:
import pandas as pd
import numpy as np
import os,sys
import re
pwd = os.getcwd()

In [2]:
# reading dataset
kb_df = pd.read_csv(pwd+"//Datasets//Nisha//Input//Nishafin.csv",encoding_errors='ignore')
kb_df

,id,commentText,Labels
0,Ugz7LQV0ZWpuNnjBaxJ4AaABAg,i love potato ke prathe,2
1,UgxvWJ_kJL2nePTkg2N4AaABAg,Wwaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaww,3
2,UgxxeUmiH9f8XOZZWr14AaABAg,Nice,3
3,Ugz-UPvwHMx4nSKVoCB4AaABAg,Wow Amazing,3
4,UgzfXhbesBABQzi4-m94AaABAg,Thank you madam,1
...,...,...,...
4895,UgyGSYkiLHY3dWl4AZt4AaABAg,Mam kya hum butter Ki bjaye desi ghee bhi daal...,7
4896,Ugzx3OSiIndEsUN54IB4AaABAg,Ky hum condensed milk k jagha par amul powder ...,7
4897,UgxRwq2MsR9csHLc7MJ4AaABAg,Very yummy cake mam...condensed milk k jagah a...,5
4898,UgxxO1vtL-g7PPRVXBp4AaABAg,mad aapne powder sugar or condensed milk dono ...,7
4899,UgyNWcXDvbZF1I7S8rh4AaABAg,cake microwave oven se nikalne k baad thodi de...,7

In [3]:
new_labels = kb_df[['Labels']]
new_labels.to_csv(pwd+'//Datasets//Nisha//Input//Nisha_dataset_labels.csv',index=False)

### Cleaning data

In [4]:
# replacing enter with ';'
kb_df['commentText'] = kb_df['commentText'].str.replace('\n',';')
kb_df

,id,commentText,Labels
0,Ugz7LQV0ZWpuNnjBaxJ4AaABAg,i love potato ke prathe,2
1,UgxvWJ_kJL2nePTkg2N4AaABAg,Wwaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaww,3
2,UgxxeUmiH9f8XOZZWr14AaABAg,Nice,3
3,Ugz-UPvwHMx4nSKVoCB4AaABAg,Wow Amazing,3
4,UgzfXhbesBABQzi4-m94AaABAg,Thank you madam,1
...,...,...,...
4895,UgyGSYkiLHY3dWl4AZt4AaABAg,Mam kya hum butter Ki bjaye desi ghee bhi daal...,7
4896,Ugzx3OSiIndEsUN54IB4AaABAg,Ky hum condensed milk k jagha par amul powder ...,7
4897,UgxRwq2MsR9csHLc7MJ4AaABAg,Very yummy cake mam...condensed milk k jagah a...,5
4898,UgxxO1vtL-g7PPRVXBp4AaABAg,mad aapne powder sugar or condensed milk dono ...,7
4899,UgyNWcXDvbZF1I7S8rh4AaABAg,cake microwave oven se nikalne k baad thodi de...,7

In [5]:
# removing emojis
import emoji

def remove_emoji(text):
    return emoji.get_emoji_regexp().sub(u'', text)

In [6]:
# remove special characters 
import re

def remove_spechar(text):
    r = re.sub(r'\W+', ' ', text)
    return r.strip()

In [7]:
X = list(map(remove_emoji,list(kb_df['commentText'])))
X = list(map(remove_spechar,X))

C:\Users\murth\AppData\Local\Temp/ipykernel_15480/1096523203.py:5: DeprecationWarning: 'emoji.get_emoji_regexp()' is deprecated and will be removed in version 2.0.0. If you want to remove emoji from a string, consider the method emoji.replace_emoji(str, replace='').
To hide this warning, pin/downgrade the package to 'emoji~=1.6.3'
  return emoji.get_emoji_regexp().sub(u'', text)

In [8]:
new_kb_df = pd.DataFrame(X,columns=['commentText'])
new_kb_df

                                            commentText
0                               i love potato ke prathe
1     Wwaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaww
2                                                  Nice
3                                           Wow Amazing
4                                       Thank you madam
...                                                 ...
4895  Mam kya hum butter Ki bjaye desi ghee bhi daal...
4896  Ky hum condensed milk k jagha par amul powder ...
4897  Very yummy cake mam condensed milk k jagah aur...
4898  mad aapne powder sugar or condensed milk dono ...
4899  cake microwave oven se nikalne k baad thodi de...

[4900 rows x 1 columns]

In [9]:
# getting stop words
with open(pwd+'//Datasets//Nisha//Input//hinglish_stopwords_filter.txt','r') as sw:
    stw_list = sw.readlines()
stw_l = list(map(lambda x: x.strip(),stw_list))

# Vectorizations

### TFIDF Vectorizer

In [10]:
from sklearn.feature_extraction.text import TfidfVectorizer
tvectorizer = TfidfVectorizer(lowercase=True,stop_words=stw_l,max_features = 500)
Z = tvectorizer.fit_transform(new_kb_df['commentText'])
word_vec_arr = Z.toarray()
word_vec_cols = tvectorizer.get_feature_names()

C:\Users\murth\anaconda3\lib\site-packages\sklearn\feature_extraction\text.py:388: UserWarning: Your stop_words may be inconsistent with your preprocessing. Tokenizing the stop words generated tokens ['don', 'mon'] not in stop_words.
  warnings.warn('Your stop_words may be inconsistent with '

In [11]:
tfidf_500_df = pd.DataFrame(word_vec_arr,columns=word_vec_cols)
tfidf_500_df

,aa,aacha,aalo,aaloo,aalu,aapka,aapke,aapki,aapko,aate,...,yummy,¹à,ºâ,¼ðÿ,¾à,ðÿ,ðÿœ,œðÿ,šðÿ,žðÿ
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4895,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4896,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4897,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.266338,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4898,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4899,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [12]:
tfidf_500_df.to_csv(pwd+'//Datasets//Nisha//BagOfWords//tfidf_500_vectors.csv',index=False)

### Count Vectorizer

In [13]:
from sklearn.feature_extraction.text import CountVectorizer
cvectorizer = CountVectorizer(lowercase=True,stop_words=stw_l,max_features = 500)
X = cvectorizer.fit_transform(kb_df['commentText'])
cword_vec_cols = cvectorizer.get_feature_names()
cword_vec_arr = X.toarray()

C:\Users\murth\anaconda3\lib\site-packages\sklearn\feature_extraction\text.py:388: UserWarning: Your stop_words may be inconsistent with your preprocessing. Tokenizing the stop words generated tokens ['don', 'mon'] not in stop_words.
  warnings.warn('Your stop_words may be inconsistent with '

In [14]:
cv_500_df = pd.DataFrame(cword_vec_arr,columns=cword_vec_cols)
cv_500_df

,aa,aacha,aalo,aaloo,aalu,aapka,aapke,aapki,aapko,aate,...,yummy,¹à,ºâ,¼ðÿ,¾à,ðÿ,ðÿœ,œðÿ,šðÿ,žðÿ
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4895,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4896,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4897,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
4898,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4899,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [15]:
cv_500_df.to_csv(pwd+'//Datasets//Nisha//BagOfWords//cv_500_vectors.csv',index=False)

### Term Frequency Vectorizer

In [16]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfvectorizer = TfidfVectorizer(lowercase=True,stop_words=stw_l,max_features = 500,use_idf=False)
tf = tfvectorizer.fit_transform(kb_df['commentText'])
tfword_vec_arr = tf.toarray()
tfword_vec_cols = tfvectorizer.get_feature_names()

C:\Users\murth\anaconda3\lib\site-packages\sklearn\feature_extraction\text.py:388: UserWarning: Your stop_words may be inconsistent with your preprocessing. Tokenizing the stop words generated tokens ['don', 'mon'] not in stop_words.
  warnings.warn('Your stop_words may be inconsistent with '

In [17]:
tf_500_df = pd.DataFrame(tfword_vec_arr,columns=tfword_vec_cols)
tf_500_df

,aa,aacha,aalo,aaloo,aalu,aapka,aapke,aapki,aapko,aate,...,yummy,¹à,ºâ,¼ðÿ,¾à,ðÿ,ðÿœ,œðÿ,šðÿ,žðÿ
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4895,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4896,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4897,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.316228,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4898,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4899,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [18]:
tf_500_df.to_csv(pwd+'//Datasets//Nisha//BagOfWords//tf_500_vectors.csv',index=False)

In [19]:
#sys.exit()