In [1]:
try:
    import pandas as pd
    import numpy as np
    import os,sys
    import re
    # importing algorithms
    from sklearn.model_selection import train_test_split
    from sklearn.linear_model import LogisticRegression
    from sklearn.neighbors import KNeighborsClassifier
    from sklearn.naive_bayes import GaussianNB
    from sklearn.naive_bayes import MultinomialNB
    from sklearn.naive_bayes import BernoulliNB
    from sklearn import svm
    from sklearn.tree import DecisionTreeClassifier
    from sklearn.ensemble import RandomForestClassifier
except Exception as e:
    print("Error is due to",e)
pwd = os.getcwd()

In [2]:
# Reading labels
labels_df = pd.read_csv(pwd+"//Datasets//Kabita//Input//kabita_dataset_labels.csv")
labels_df

      kabita_labels
0                 7
1                 7
2                 4
3                 2
4                 7
...             ...
4895              1
4896              1
4897              1
4898              4
4899              1

[4900 rows x 1 columns]

### Data split for TFIDF data

In [3]:
# reading dataset
tfidf_500_df = pd.read_csv(pwd+"//Datasets//Kabita//BagOfWords//tfidf_500_vectors.csv",encoding_errors='ignore')
tfidf_500_df

,10,1kg,aa,aacha,aapka,aapke,aapki,aapko,about,accha,...,wow,yammi,yammy,yesterday,yr,yum,yumm,yummi,yummy,zam
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4895,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4896,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4897,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4898,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4899,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [4]:
x_train,x_test,y_train,y_test = train_test_split(tfidf_500_df,labels_df['kabita_labels'],test_size=0.30,
                                                 random_state=21,stratify=labels_df['kabita_labels'])

In [5]:
# Logistic regression for TFIDF data
tv_lr_model = LogisticRegression()
tv_lr_model.fit(x_train,y_train)
tv_lr_pred_val = tv_lr_model.predict(x_test)
print("Accuracy of Logistic Regression for TFIDF is:", tv_lr_model.score(x_test,y_test))

# KNN for TFIDF data
# taking squareroot(n) as k value. as total rows are 4900, k-value = 70
tv_knn_model = KNeighborsClassifier(n_neighbors=70)
tv_knn_model.fit(x_train,y_train)
tv_knn_pred_val = tv_knn_model.predict(x_test)
print("Accuracy of KNN for TFIDF for 70 neghbors is:", tv_knn_model.score(x_test,y_test))
# checking the accuracies of neighbors in [3, 4, 5, 6, 7, 8] for KNN
neighbors_list = [3, 4, 5, 6, 7, 8]
for x in neighbors_list:
    tv_knn_model = KNeighborsClassifier(n_neighbors=x)
    tv_knn_model.fit(x_train,y_train)
    print("Accuracy of KNN model for {} neighbors is:".format(str(x)), 
          tv_knn_model.score(x_test,y_test))

Accuracy of KNN model for 3 neighbors is: 0.5591836734693878
Accuracy of KNN model for 4 neighbors is: 0.5612244897959183
Accuracy of KNN model for 5 neighbors is: 0.5557823129251701
Accuracy of KNN model for 6 neighbors is: 0.5482993197278911
Accuracy of KNN model for 7 neighbors is: 0.5408163265306123
Accuracy of KNN model for 8 neighbors is: 0.5401360544217687

### Data split for Count vectorizer data

In [6]:
# reading dataset
cv_500_df = pd.read_csv(pwd+"//Datasets//Kabita//BagOfWords//cv_500_vectors.csv",encoding_errors='ignore')
cv_500_df

,10,1kg,aa,aacha,aapka,aapke,aapki,about,accha,acche,...,wow,yammi,yammy,yesterday,yr,yum,yumm,yummi,yummy,zam
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4895,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4896,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4897,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4898,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4899,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [7]:
x_train,x_test,y_train,y_test = train_test_split(cv_500_df,labels_df['kabita_labels'],test_size=0.30,
                                                 random_state=21,stratify=labels_df['kabita_labels'])

In [8]:
# applying logistic regression for cv vectorizer
cv_lr_model = LogisticRegression()
cv_lr_model.fit(x_train,y_train)
cv_lr_pred_val = cv_lr_model.predict(x_test)
print("Accuracy of Logistic Regression for Count Vectorizeer is:", cv_lr_model.score(x_test,y_test))

# applying KNN algorithm
# taking squareroot(n) as k value. as total rows are 4900, k-value = 70
cv_knn_model = KNeighborsClassifier(n_neighbors=70)
cv_knn_model.fit(x_train,y_train)
cv_knn_pred_val = cv_knn_model.predict(x_test)
print("Accuracy of KNN for Count Vectorizer for 70 neghbors is:", cv_knn_model.score(x_test,y_test))
# checking the accuracies of neighbors in [3, 4, 5, 6, 7, 8] for KNN
neighbors_list = [3, 4, 5, 6, 7, 8]
for x in neighbors_list:
    cv_knn_model = KNeighborsClassifier(n_neighbors=x)
    cv_knn_model.fit(x_train,y_train)
    print("Accuracy of KNN model for {} neighbors is:".format(str(x)), 
          cv_knn_model.score(x_test,y_test))

Accuracy of KNN model for 3 neighbors is: 0.6040816326530613
Accuracy of KNN model for 4 neighbors is: 0.5857142857142857
Accuracy of KNN model for 5 neighbors is: 0.5850340136054422
Accuracy of KNN model for 6 neighbors is: 0.5795918367346938
Accuracy of KNN model for 7 neighbors is: 0.5748299319727891
Accuracy of KNN model for 8 neighbors is: 0.5761904761904761

### Data split for Term frequency vectorizer data

In [9]:
# reading dataset
tf_500_df = pd.read_csv(pwd+"//Datasets//Kabita//BagOfWords//tf_500_vectors.csv",encoding_errors='ignore')
tf_500_df

,10,1kg,aa,aacha,aapka,aapke,aapki,about,accha,acche,...,wow,yammi,yammy,yesterday,yr,yum,yumm,yummi,yummy,zam
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4895,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4896,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4897,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4898,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4899,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [10]:
x_train,x_test,y_train,y_test = train_test_split(tf_500_df,labels_df['kabita_labels'],test_size=0.30,
                                                 random_state=21,stratify=labels_df['kabita_labels'])

In [11]:
# applying logistic regression for tf vectorizer
tf_lr_model = LogisticRegression()
tf_lr_model.fit(x_train,y_train)
tf_lr_pred_val = tf_lr_model.predict(x_test)
print("Accuracy of Logistic Regression for Term Frequency Vectorizer is:", tf_lr_model.score(x_test,y_test))

# applying KNN algorithm
# taking squareroot(n) as k value. as total rows are 4900, k-value = 70
tf_knn_model = KNeighborsClassifier(n_neighbors=70)
tf_knn_model.fit(x_train,y_train)
tf_knn_pred_val = tf_knn_model.predict(x_test)
print("Accuracy of KNN for Term Frequency vectorizer for 70 neghbors is:", tf_knn_model.score(x_test,y_test))
# checking the accuracies of neighbors in [3, 4, 5, 6, 7, 8] for KNN
neighbors_list = [3, 4, 5, 6, 7, 8]
for x in neighbors_list:
    tf_knn_model = KNeighborsClassifier(n_neighbors=x)
    tf_knn_model.fit(x_train,y_train)
    print("Accuracy of KNN model for {} neighbors is:".format(str(x)), 
          tf_knn_model.score(x_test,y_test))

Accuracy of KNN model for 3 neighbors is: 0.6040816326530613
Accuracy of KNN model for 4 neighbors is: 0.5931972789115646
Accuracy of KNN model for 5 neighbors is: 0.5965986394557823
Accuracy of KNN model for 6 neighbors is: 0.580952380952381
Accuracy of KNN model for 7 neighbors is: 0.5877551020408164
Accuracy of KNN model for 8 neighbors is: 0.5897959183673469