In [1]:
import pandas as pd
import numpy as np
import os,sys
import re
pwd = os.getcwd()

In [2]:
# reading dataset
kb_df = pd.read_csv(pwd+"//Datasets//Kabita//Input//kabitakitchen.csv",encoding_errors='ignore')
kb_df

,id,commentText,Labels
0,Ugy_CBm-_CKA3YqrzcB4AaABAg,Pudina ptta nhi dalu to,7
1,Ugy9mx9nuTWJu4dRac14AaABAg,Chiken kacha tu ni rhy ga sis,7
2,Ugz8T2MKLYucL3dM9nh4AaABAg,"Hello mam, I love your all recipes.... ðŸ˜‹ðŸ˜‹ðŸ˜‹\nAl...",4
3,Ugx_1cCjRbCaDgL0FLF4AaABAg,Its awesome recipe plzz make handi chicken in ...,2
4,UgzLhKVAJ6NN3nZXyjN4AaABAg,Yeh jo measurement hai.........kitne logon ke ...,7
...,...,...,...
4895,UgjFXyC0Qhzk5ngCoAEC,i love chole...thank you kabitaji for sharing ...,1
4896,UghP3bitlJuM13gCoAEC,thnakyou mm,1
4897,UghztLZOqvedfXgCoAEC,thanks mam,1
4898,UggX5Fi2Y430zXgCoAEC,u r fabulous,4
4899,UghTaB9XvOQ_MngCoAEC,thnq fr the recipe. ðŸ’œ,1

### Cleaning data

In [3]:
# replacing enter with ';'
kb_df['commentText'] = kb_df['commentText'].str.replace('\n',';')
kb_df

,id,commentText,Labels
0,Ugy_CBm-_CKA3YqrzcB4AaABAg,Pudina ptta nhi dalu to,7
1,Ugy9mx9nuTWJu4dRac14AaABAg,Chiken kacha tu ni rhy ga sis,7
2,Ugz8T2MKLYucL3dM9nh4AaABAg,"Hello mam, I love your all recipes.... ðŸ˜‹ðŸ˜‹ðŸ˜‹;All...",4
3,Ugx_1cCjRbCaDgL0FLF4AaABAg,Its awesome recipe plzz make handi chicken in ...,2
4,UgzLhKVAJ6NN3nZXyjN4AaABAg,Yeh jo measurement hai.........kitne logon ke ...,7
...,...,...,...
4895,UgjFXyC0Qhzk5ngCoAEC,i love chole...thank you kabitaji for sharing ...,1
4896,UghP3bitlJuM13gCoAEC,thnakyou mm,1
4897,UghztLZOqvedfXgCoAEC,thanks mam,1
4898,UggX5Fi2Y430zXgCoAEC,u r fabulous,4
4899,UghTaB9XvOQ_MngCoAEC,thnq fr the recipe. ðŸ’œ,1

In [4]:
# removing emojis
import emoji

def remove_emoji(text):
    return emoji.get_emoji_regexp().sub(u'', text)

In [5]:
# remove special characters 
import re

def remove_spechar(text):
    r = re.sub(r'\W+', ' ', text)
    return r.strip()

In [6]:
X = list(map(remove_emoji,list(kb_df['commentText'])))
X = list(map(remove_spechar,X))

C:\Users\murth\AppData\Local\Temp/ipykernel_11500/1096523203.py:5: DeprecationWarning: 'emoji.get_emoji_regexp()' is deprecated and will be removed in version 2.0.0. If you want to remove emoji from a string, consider the method emoji.replace_emoji(str, replace='').
To hide this warning, pin/downgrade the package to 'emoji~=1.6.3'
  return emoji.get_emoji_regexp().sub(u'', text)

In [7]:
new_kb_df = pd.DataFrame(X,columns=['commentText'])
new_kb_df

                                            commentText
0                               Pudina ptta nhi dalu to
1                         Chiken kacha tu ni rhy ga sis
2     Hello mam I love your all recipes All the ingr...
3     Its awesome recipe plzz make handi chicken in ...
4        Yeh jo measurement hai kitne logon ke liye hai
...                                                 ...
4895  i love chole thank you kabitaji for sharing rh...
4896                                        thnakyou mm
4897                                         thanks mam
4898                                       u r fabulous
4899                                 thnq fr the recipe

[4900 rows x 1 columns]

In [8]:
# getting stop words
with open(pwd+'//Datasets//Kabita//Input//hinglish_stopwords_filter.txt','r') as sw:
    stw_list = sw.readlines()
stw_l = list(map(lambda x: x.strip(),stw_list))

# Vectorizations

### TFIDF Vectorizer

In [9]:
from sklearn.feature_extraction.text import TfidfVectorizer
tvectorizer = TfidfVectorizer(lowercase=True,stop_words=stw_l,max_features = 500)
Z = tvectorizer.fit_transform(new_kb_df['commentText'])
word_vec_arr = Z.toarray()
word_vec_cols = tvectorizer.get_feature_names()

C:\Users\murth\anaconda3\lib\site-packages\sklearn\feature_extraction\text.py:388: UserWarning: Your stop_words may be inconsistent with your preprocessing. Tokenizing the stop words generated tokens ['don', 'mon'] not in stop_words.
  warnings.warn('Your stop_words may be inconsistent with '

In [10]:
tfidf_500_df = pd.DataFrame(word_vec_arr,columns=word_vec_cols)
tfidf_500_df

,10,1kg,aa,aacha,aapka,aapke,aapki,aapko,about,accha,...,wow,yammi,yammy,yesterday,yr,yum,yumm,yummi,yummy,zam
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4895,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4896,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4897,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4898,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4899,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [11]:
tfidf_500_df.to_csv(pwd+'//Datasets//Kabita//BagOfWords//tfidf_500_vectors.csv',index=False)

### Count Vectorizer

In [12]:
from sklearn.feature_extraction.text import CountVectorizer
cvectorizer = CountVectorizer(lowercase=True,stop_words=stw_l,max_features = 500)
X = cvectorizer.fit_transform(kb_df['commentText'])
cword_vec_cols = cvectorizer.get_feature_names()
cword_vec_arr = X.toarray()

C:\Users\murth\anaconda3\lib\site-packages\sklearn\feature_extraction\text.py:388: UserWarning: Your stop_words may be inconsistent with your preprocessing. Tokenizing the stop words generated tokens ['don', 'mon'] not in stop_words.
  warnings.warn('Your stop_words may be inconsistent with '

In [13]:
cv_500_df = pd.DataFrame(cword_vec_arr,columns=cword_vec_cols)
cv_500_df

,10,1kg,aa,aacha,aapka,aapke,aapki,about,accha,acche,...,wow,yammi,yammy,yesterday,yr,yum,yumm,yummi,yummy,zam
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4895,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4896,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4897,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4898,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4899,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [14]:
cv_500_df.to_csv(pwd+'//Datasets//Kabita//BagOfWords//cv_500_vectors.csv',index=False)

### Term Frequency Vectorizer

In [15]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfvectorizer = TfidfVectorizer(lowercase=True,stop_words=stw_l,max_features = 500,use_idf=False)
tf = tfvectorizer.fit_transform(kb_df['commentText'])
tfword_vec_arr = tf.toarray()
tfword_vec_cols = tfvectorizer.get_feature_names()

C:\Users\murth\anaconda3\lib\site-packages\sklearn\feature_extraction\text.py:388: UserWarning: Your stop_words may be inconsistent with your preprocessing. Tokenizing the stop words generated tokens ['don', 'mon'] not in stop_words.
  warnings.warn('Your stop_words may be inconsistent with '

In [16]:
tf_500_df = pd.DataFrame(tfword_vec_arr,columns=tfword_vec_cols)
tf_500_df

,10,1kg,aa,aacha,aapka,aapke,aapki,about,accha,acche,...,wow,yammi,yammy,yesterday,yr,yum,yumm,yummi,yummy,zam
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4895,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4896,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4897,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4898,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4899,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [17]:
tf_500_df.to_csv(pwd+'//Datasets//Kabita//BagOfWords//tf_500_vectors.csv',index=False)

In [18]:
#sys.exit()

# Modelling

In [19]:
# importing algorithms
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier

### data split for TFIDF data

In [20]:
x_train,x_test,y_train,y_test = train_test_split(tfidf_500_df,kb_df['Labels'],test_size=0.30,
                                                 random_state=21,stratify=kb_df['Labels'])

### Logistic regression for TFIDF data

In [21]:
# applying logistic regression
tv_lr_model = LogisticRegression()
tv_lr_model.fit(x_train,y_train)
tv_lr_pred_val = tv_lr_model.predict(x_test)
tv_lr_model.score(x_test,y_test)

0.753061224489796

In [22]:
tv_lr_dict = {}
for x in tv_lr_pred_val:
    try:
        tv_lr_dict[str(x)] += 1
    except:
        tv_lr_dict[str(x)] = 0
        tv_lr_dict[str(x)] += 1
        
tv_lr_dict

{'5': 159, '6': 257, '2': 191, '7': 212, '3': 227, '4': 230, '1': 194}

In [23]:
tv_lr_real_dict = {}
for x in y_test:
    try:
        tv_lr_real_dict[str(x)] += 1
    except:
        tv_lr_real_dict[str(x)] = 0
        tv_lr_real_dict[str(x)] += 1
        
tv_lr_real_dict

{'5': 210, '6': 210, '7': 210, '2': 210, '3': 210, '4': 210, '1': 210}

### KNN for TFIDF data

In [24]:
# applying KNN algorithm
# taking squareroot(n) as k value. as total rows are 4900, k-value = 70
tv_knn_model = KNeighborsClassifier(n_neighbors=70)
tv_knn_model.fit(x_train,y_train)
tv_knn_pred_val = tv_knn_model.predict(x_test)
tv_knn_model.score(x_test,y_test)

0.3551020408163265

In [25]:
# checking the accuracies of neighbors in [3, 4, 5, 6, 7, 8] for KNN
neighbors_list = [3, 4, 5, 6, 7, 8]
for x in neighbors_list:
    tv_knn_model = KNeighborsClassifier(n_neighbors=x)
    tv_knn_model.fit(x_train,y_train)
    print("Accuracy of KNN model for {} neighbors is:".format(str(x)), 
          tv_knn_model.score(x_test,y_test))

Accuracy of KNN model for 3 neighbors is: 0.5591836734693878
Accuracy of KNN model for 4 neighbors is: 0.5551020408163265
Accuracy of KNN model for 5 neighbors is: 0.5605442176870749
Accuracy of KNN model for 6 neighbors is: 0.5489795918367347
Accuracy of KNN model for 7 neighbors is: 0.5360544217687074
Accuracy of KNN model for 8 neighbors is: 0.5380952380952381

### data split for Count vectorizer data

In [26]:
x_train,x_test,y_train,y_test = train_test_split(cv_500_df,kb_df['Labels'],test_size=0.30,
                                                 random_state=21,stratify=kb_df['Labels'])

### Logistic regression for Count vectorizer data

In [27]:
# applying logistic regression for cv vectorizer
cv_lr_model = LogisticRegression()
cv_lr_model.fit(x_train,y_train)
cv_lr_pred_val = cv_lr_model.predict(x_test)
cv_lr_model.score(x_test,y_test)

0.746938775510204

In [28]:
cv_lr_dict = {}
for x in cv_lr_pred_val:
    try:
        cv_lr_dict[str(x)] += 1
    except:
        cv_lr_dict[str(x)] = 0
        cv_lr_dict[str(x)] += 1
        
cv_lr_dict

{'5': 173, '6': 264, '2': 202, '7': 190, '3': 235, '4': 216, '1': 190}

### KNN for Count vectorizer data

In [29]:
# applying KNN algorithm
# taking squareroot(n) as k value. as total rows are 4900, k-value = 70
cv_knn_model = KNeighborsClassifier(n_neighbors=70)
cv_knn_model.fit(x_train,y_train)
cv_knn_pred_val = cv_knn_model.predict(x_test)
cv_knn_model.score(x_test,y_test)

0.4598639455782313

In [30]:
# checking the accuracies of neighbors in [3, 4, 5, 6, 7, 8] for KNN
neighbors_list = [3, 4, 5, 6, 7, 8]
for x in neighbors_list:
    cv_knn_model = KNeighborsClassifier(n_neighbors=x)
    cv_knn_model.fit(x_train,y_train)
    print("Accuracy of KNN model for {} neighbors is:".format(str(x)), 
          cv_knn_model.score(x_test,y_test))

Accuracy of KNN model for 3 neighbors is: 0.6040816326530613
Accuracy of KNN model for 4 neighbors is: 0.5857142857142857
Accuracy of KNN model for 5 neighbors is: 0.5850340136054422
Accuracy of KNN model for 6 neighbors is: 0.5795918367346938
Accuracy of KNN model for 7 neighbors is: 0.5748299319727891
Accuracy of KNN model for 8 neighbors is: 0.5761904761904761

### data split for Term frequency vectorizer data

In [31]:
x_train,x_test,y_train,y_test = train_test_split(tf_500_df,kb_df['Labels'],test_size=0.30,
                                                 random_state=21,stratify=kb_df['Labels'])

### Logistic regression for Term frequency vectorizer data

In [32]:
tf_lr_model = LogisticRegression()
tf_lr_model.fit(x_train,y_train)
tf_lr_pred_val = tf_lr_model.predict(x_test)
tf_lr_model.score(x_test,y_test)

0.7496598639455783

In [33]:
tf_lr_dict = {}
for x in tf_lr_pred_val:
    try:
        tf_lr_dict[str(x)] += 1
    except:
        tf_lr_dict[str(x)] = 0
        tf_lr_dict[str(x)] += 1
        
tf_lr_dict

{'5': 151, '6': 244, '2': 204, '7': 213, '3': 236, '4': 232, '1': 190}

In [34]:
tf_lr_real_dict = {}
for x in y_test:
    try:
        tf_lr_real_dict[str(x)] += 1
    except:
        tf_lr_real_dict[str(x)] = 0
        tf_lr_real_dict[str(x)] += 1
        
tf_lr_real_dict

{'5': 210, '6': 210, '7': 210, '2': 210, '3': 210, '4': 210, '1': 210}

### KNN for Term frequency vectorizer data

In [35]:
# applying KNN algorithm
# taking squareroot(n) as k value. as total rows are 4900, k-value = 70
tf_knn_model = KNeighborsClassifier(n_neighbors=70)
tf_knn_model.fit(x_train,y_train)
tf_knn_pred_val = tf_knn_model.predict(x_test)
tf_knn_model.score(x_test,y_test)

0.42108843537414964

In [36]:
# checking the accuracies of neighbors in [3, 4, 5, 6, 7, 8] for KNN
neighbors_list = [3, 4, 5, 6, 7, 8]
for x in neighbors_list:
    tf_knn_model = KNeighborsClassifier(n_neighbors=x)
    tf_knn_model.fit(x_train,y_train)
    print("Accuracy of KNN model for {} neighbors is:".format(str(x)), 
          tf_knn_model.score(x_test,y_test))

Accuracy of KNN model for 3 neighbors is: 0.6040816326530613
Accuracy of KNN model for 4 neighbors is: 0.5795918367346938
Accuracy of KNN model for 5 neighbors is: 0.5816326530612245
Accuracy of KNN model for 6 neighbors is: 0.5843537414965987
Accuracy of KNN model for 7 neighbors is: 0.5843537414965987
Accuracy of KNN model for 8 neighbors is: 0.5782312925170068